.navigation {
    width: 100%;
    height: 70px;
    padding: 0 4.8rem;
    z-index: 44444;
    position: relative;
    transition: 0.5s;
    background: var(--nav-background-scrolled);
}

.active {
    width: 100%;
    height: 70px;
    padding: 0 4.8rem;
    z-index: 44444;
    transition: 0.5s;
    position: fixed;
    background: #0B0C0E;
}
    .navigation-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .navigation-logo {
            width: 100px;
            height: 50%;
            margin: 3.2rem;
            font-size: 28px;
            font-weight: 600;
            background-size: 100%;
            background-repeat: no-repeat;
            filter: invert(1) brightness(3);
            background-image: url(../../../../assets/logo.png);

        }
        .navigation-menu-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            margin: auto;

            .navigation-menu {

                .navigation-list {
                    display: flex;
                    
                    .navigation-item {
                        list-style: none;
                        transition: 0.5s;
                        position: relative;
                    }
                    .navigation-link{
                        text-decoration: none;
                        margin: 0 1.6rem;
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--text-color);
                    }
                    .navigation-link:hover{
                        color: #0086e0;
                    }
                    .navigation-item:hover .navigation-dropdown-wrapper {
                        display: block;
                    }
                }
                .navigation-active {
                    text-decoration: none;
                    font-weight: 500;
                    margin: 0 1.6rem;
                    color: #0086e0 !important;
                    opacity: 1;
                }

                .navigation-dropdown-wrapper{
                    width: 150px;
                    top: 40px;
                    left: 10px;
                    position: absolute;
                    background: #0086e0;
                    transition: all 0.3s ease;
                    display: none;

                    .navigation-link-dropdown {
                        display: block;
                        text-decoration: none;
                        font-size: 14px;
                        color: #fff;
                        padding: 1rem 1.6rem;
                    }
                    .navigation-link-dropdown:hover {
                        background: #0067ad;
                    }
                    .navigation-link-dropdown::after {
                        content: "";
                        position: absolute;
                        top: -16px;
                        left: 20%;
                        margin-left: -5px;
                        border-width: 8px;
                        border-style: solid;
                        border-color: transparent transparent #0086e0 transparent;
                    }
                }
            }

            .navigation-search {
                height: 60px;
                padding: 1rem 2rem;
                display: flex;
                align-items: center;

                .navigation-input {
                    width: 100%;
                    height: 38px;
                    color: var(--text-color);
                    border: none;
                    background: var(--input-background);
                    padding: 1rem 1.5rem !important;
                    border-radius: 6px;
                    border-top-right-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                }

                .navigation-i {
                    border-radius: 0.6rem;
                    padding: 1.2rem;
                    background: #f7ef47;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
