.slider-container {
    width: 100%;
    height: 100vh;

    .slider {

        .slider-item{
            width: 300px;
            height: 400px;
            display: inline-block;
            position: absolute;
            z-index: 1;
            top: 30%;
            border-radius: 10px;
            transition: 0.5s;
            transform: translate(0, -50%);

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                background: #000;
                height: 100vh;
                width: 100%;
                z-index: 22222;
                opacity: 0.5;
            }

            .slider-img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                z-index: 1;
                object-fit: cover;
            }

            .slider-content {
                color: var(--text-color);
                position: absolute;
                left: 150px;
                z-index: 55555;
                top: 50%;
                width: 300px;
                text-align: left;
                transform: translate(0, -50%);
                display: none;

                .slider-content-name{
                    font-size: 52px;
                    margin-bottom: 0;
                    font-weight: bold;
                    opacity: 0;
                    animation: showcontent 1s ease-in-out 1 forwards;
                }
                .slider-content-des{
                    margin: 20px 0;
                    opacity: 0;
                    animation: showcontent 1s ease-in-out 0.3s 1 forwards;

                }
                .slider-button{
                    padding: 10px 20px;
                    background-color: #0086e0;
                    border: 1px solid #0086e0;
                    border-radius: 0.6rem;
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: 700;
                    opacity: 0;
                    cursor: pointer;
                    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
                    

                }
            }
        }

        .slider-item:nth-child(1),
        .slider-item:nth-child(2) {
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            transform: translate(0, 0);
        }
        .slider-item:nth-child(3) {
            left: 70%;
        }
        .slider-item:nth-child(4) {
            left: calc(70% + 220px);
            display: none;

        }
        .slider-item:nth-child(5) {
            left: calc(70% + 440px);
            opacity: 0;
            display: none;
        }
        .slider-item:nth-child(n+6) {
            left: calc(70% + 660px);
            opacity: 0;
            display: none;

        }

        .slider-item:nth-child(2) .slider-content {
            display: block;
            z-index: 55555;
        }
    }

    .buttons {
        position: absolute;
        z-index: 2222;
        color: #fff;
        display: flex;
        justify-content: space-between;
        top: 30%;
        left: 30px;
        right: 30px;

        .buttons-prev {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #555;
            transition: 0.5s;
            opacity: 0.7;
            color: var(--input-background);
        }
        .buttons-prev:hover {
            opacity: 1;
        }
        .buttons-i {
            font-size: 38px;
        }
    }
}

@keyframes showcontent {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(10px);
    } to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}