.wrapper {
    width: 100%;
    height: 200px;
    padding: 0 12rem;
    color: #fff;
    position: relative;

    .title {
        font-size: 32px;
        font-weight: bold;
        margin-top: 5rem;
    }

    .grid {
        display: grid;
        grid-gap: 1.2rem;
        padding: 3.2rem 1.6rem;
        grid-template-columns: repeat(5, 1fr);

        .grid-item {
            width: 180px;
            height: 380px;
            margin-bottom: 3.2rem;

            .grid-item-img {
                width: 100%;
                height: 270px;
            } a img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .grid-item-details {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0;
            }

            .grid-item-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding-right: 0.5rem;

                button {
                    background: none;
                    border: none;

                    i {
                        color: rgb(91, 97, 102);
                    }
                }
            }
        }
    }

    .buttons-view {
        background: #0086e0;
        color: #fff;
        border: 1px solid #0086e0;
        font-size: 1.5rem;
        padding: 1.6rem 3.2rem;
        border-radius: 0.6rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        margin: auto;
    }
}