.wrapper {
    width: 100%;
    height: 1000px;
    position: relative;
}

.upcoming {
    position: relative;
    z-index: 333;
    width: 100%;
    height: 100%;
}

.toprated {
    position: absolute;
    z-index: 333;
    width: 100%;
    height: 100%;
}